.ob-t2v-title {
  text-align: center;
}
.ob-t2v-text {
  width: 100%;
  resize: none;
  margin-top: 10px;
  font-size: 14px;
}
.ob-t2v-text:focus {
  outline: solid rgba(82, 196, 26, 0.5);
  border-color: transparent;
}
.ob-t2v-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.ob-t2v-box > input,
.ob-t2v-box > select {
  width: 250px;
}
.ob-t2v-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-top: 20px;
}
.ob-t2v-operation {
  text-align: right;
  flex: 1;
}
.ob-t2v-footer button {
  color: #fff;
  cursor: pointer;
  width: 80px;
  font-size: 14px;
}
.ob-t2v-footer button::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 3px;
}
.ob-t2v-footer button:first-child {
  background-color: #52c41a;
}
.ob-t2v-footer button:last-child {
  background-color: #1677ff;
  margin-left: 8px;
}
.ob-t2v-footer button:first-child::before {
  background-image: url(https://github.com/luhaifeng666/pics/assets/9375823/7208eed1-9280-459c-94f0-b9c21bddb073);
}
.ob-t2v-footer button:last-child::before {
  background-image: url(https://github.com/luhaifeng666/pics/assets/9375823/035fd534-362b-4c6e-b895-b5e5aff617ba);
}
.ob-t2v-loading {
  height: 14px;
}
.ob-t2v-loading span {
  display: inline-block;
  width: 4px;
  height: 100%;
  border-radius: 2px;
  background: #52c41a;
  animation: load 1s ease infinite;
  margin: 0 1px;
}
@keyframes load {
  0%,
  100% {
    height: 10px;
    background: #52c41a;
  }
  50% {
    height: 20px;
    margin: -5px 1px;
    background: #1677ff;
  }
}
.ob-t2v-loading span:nth-child(2) {
  animation-delay: 0.2s;
}
.ob-t2v-loading span:nth-child(3) {
  animation-delay: 0.4s;
}
.ob-t2v-loading span:nth-child(4) {
  animation-delay: 0.6s;
}
.ob-t2v-loading span:nth-child(5) {
  animation-delay: 0.8s;
}